.button {
    padding: 10px 20px;
    border: 1px solid #414141;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    border-color: #111;
    background-color: rgba(200, 200, 200, 0.3);
}
